/* page container */
.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
}

.main {
    height: var(--main-height);
    overflow: hidden;
    box-sizing: border-box;
}
