/* left */
.left {
    box-sizing: border-box;
    border-right: var(--border-gray);
}

/* left-tabs */
.left :global(.ant-tabs-nav-list) {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left :global(.ant-tabs-tab) {
    width: 50%;
    justify-content: center;
}

/* left-card */
.CheckCardGroup {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.CheckCardItem {
    margin-right: 0;
}

/* right */
.right {
    width: 300px;
    box-sizing: border-box;
    padding: 10px;
    border-left: var(--border-gray);
}

/**/
.midTop {
    height: 50%;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: var(--border-gray);
}

/**/
.midBottom {
    height: 50%;
    padding: 10px;
    box-sizing: border-box;
}
